<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.lotustms.testcase.Login_test_case"/>
     <class name="com.lotustms.testcase.usermanagement_admin_testCase"/>
      <class name="com.lotustms.testcase.customerManagement_testCase"/>
       <class name="com.lotustms.testcase.locationManagement_testCase"/>
      <class name="com.lotustms.testcase.chassisName_testCase"/>
      <class name="com.lotustms.testcase.containerOwnerManagement_testCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
